:root {
    --primary-color: #14181c;
    --secondary-color: rgba(175, 12, 12, 0.629);
    --tertiary-color: #464a4e;


    --dividing-color: #c8d1dc76;

    --primary-text-color: #EDEDED;
    --secondary-text-color: rgba(255, 255, 255, 0.837);
    --tertiary-text-color: #c8d1dcbf;

    --primary-border-color: rgba(255, 255, 255, 0.341);
}


html{
    overflow-x: hidden;
}

* {
    font-family: 'Roboto', sans-serif;
}


body {
    background-color: var(--primary-color);
    margin: 0 auto;
    min-height: calc(100vh - (6rem + 4rem));
}

.dividing-messages {
    font-size: small;
    color: var(--dividing-color);
    margin-top: 4%;
}

hr {
    background-color: var(--dividing-color);
    border: 0 none;
    color: var(--dividing-color);
    height: 1px;
}




/* -----------------START OF HEADER------------------------------------------- */

.header-image-container{
    box-shadow: -25px 59px 116px 87px rgba(0, 0, 0, 1);
    margin-bottom: 20%;
    /* height: 100vh */
}

.header {
    background: url(./projectimgs/Hysteria_Parkway_Drive-980x600.jpg) center/cover no-repeat;
    height: 80vh;
    width: 1263px;
    box-shadow: 4px -29px 77px 71px rgba(0, 0, 0, 1) inset;
    position: relative;
}

.header-container {
    max-width: 75%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    -ms-flex-align: center;
    align-items: center;
}

.header-image-link {
    display: flex;
    gap: 5px;
    width: 40%;
    text-decoration: none;
    /* justify-content: center; */
    align-items: center;
}

.header-image-link span {
    color: var(--primary-text-color);
}

.header-image-link img {
    height: 45px;
}

/* -----------------START OF NAV-------------------- */
.nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    /* margin-right: 10%; */
    gap: 20px;
    width: 80%;
}

.nav a {
    text-decoration: none;
    color: var(--tertiary-text-color)
}

.profile-image-link {
    display: flex;
    text-decoration: none;
    gap: 5px;
    justify-content: center;
    align-items: center;

}


.profile-image-link img {
    height: 25px;
    border-radius: 50%;
}

#header-icon-button {
    background: none;
    color: var(--tertiary-text-color);
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.header-log-button {

    background-color: var(--secondary-color);
    color: var(--tertiary-text-color);
    padding: 5px;
    box-shadow: 3px 1px 0px 0px #999;
    cursor: pointer;
    outline: none;
    border: none;

}

.nav a:hover,
i:hover {
    color: white;
}

.profile-image-link:hover img {
    box-shadow: 0 0 3px #fff;
}


/* CSS */
.button-42 {
    background-color: var(--secondary-color);
    font-size: medium;
    font-weight: bold;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
    color: #edededf3;
    cursor: pointer;
    display: inline-block;
    font-family: Inter, -apple-system, system-ui, Roboto, "Helvetica Neue", Arial, sans-serif;
    padding: 4px 10px;
    outline: 0;
    overflow: hidden;
    pointer-events: auto;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: top;
    white-space: nowrap;
    width: 12%;
    z-index: 9;
    border: 0;
    transition: box-shadow .2s;
}

.button-42:hover {
    box-shadow: rgba(175, 12, 12, 0.629) 0 3px 8px;
    color: white;
}

.nav-search {
    text-decoration: none;
}



/* -----------------END OF NAV-------------------- */

.main-message{
    padding-top: 18%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 50%;
    margin: 0 auto;
    text-align: center;
}

.main-message h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 300%;
    color: var(--primary-text-color);
}

.main-message p{
    color: var(--tertiary-text-color);
    font-weight: bolder;
}
/* -----------------END OF HEADER----------------------------------------- */



/*-----------------START OF MAIN CONTENT-------------------------------------------*/
.body-container {
    max-width: 75%;
    margin: 0 auto;
}

.container {
    display: flex;
    height: 60vh;
    gap: 5%;
    margin-bottom: 10%;
}

.left-text{
    width: 30vw;
    align-self: center;
}

.left-text span{
    font-size: xx-large;
    font-weight: bolder;
    color: var(--primary-text-color);
}

.left-text p{
    color: var(--secondary-text-color)
}

.right-img{
    width: 20%;
}

.right-img img{
    height: 100%;
}



.right-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right-text span {
    font-size: xx-large;
    font-weight: bolder;
    color: var(--primary-text-color);
}

.right-text p {
    color: var(--secondary-text-color);
}

.left-img {
    width: 50%;
}

.left-img img {
    position: relative;
    /* width: 50%; */
    height: 100%;
    right: 100%;
    object-fit: cover;
}


