:root {
    --primary-color: #14181c;
    --secondary-color: rgba(175, 12, 12, 0.629);
    --tertiary-color: #464a4e;

    --dividing-color: #c8d1dc76;

    --primary-text-color: #EDEDED;
    --secondary-text-color: rgba(255, 255, 255, 0.837);
    --tertiary-text-color: #c8d1dcbf;

    --primary-border-color: rgba(255, 255, 255, 0.341);
}


* {
    font-family: 'Roboto', sans-serif;
}


body {
    background-color: var(--primary-color);
    margin: 0 auto;
    min-height: calc(100vh - (6rem + 4rem));
}


.dividing-messages {
    font-size: small;
    color: var(--dividing-color);
    margin-top: 4%;
}


hr {
    background-color: var(--dividing-color);
    border: 0 none;
    color: var(--dividing-color);
    height: 1px;
    width: 100%;
}



/* -----------------START OF HEADER------------------------------------------- */

.header {
    background-color: rgba(0, 0, 0, 0.286);
    box-shadow: -1px 42px 300px 40px rgba(208, 209, 217, 0.03);
    height: 12vh;
    /* justify-content: center; */
    margin-bottom: 5%;
}

.header-container {
    max-width: 75%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    -ms-flex-align: center;
    align-items: center;
}

.header-image-link {
    display: flex;
    gap: 5px;
    width: 40%;
    text-decoration: none;
    /* justify-content: center; */
    align-items: center;
}

.header-image-link span {
    color: var(--primary-text-color);
}

.header-image-link img {
    height: 45px;
}

/* -----------------START OF NAV-------------------- */
.nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    /* margin-right: 10%; */
    gap: 20px;
    width: 80%;
}

.nav a {
    text-decoration: none;
    color: var(--tertiary-text-color)
}

.profile-image-link {
    display: flex;
    text-decoration: none;
    gap: 5px;
    justify-content: center;
    align-items: center;

}


.profile-image-link img {
    height: 25px;
    border-radius: 50%;
}

#header-icon-button {
    background: none;
    color: var(--tertiary-text-color);
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.header-log-button {

    background-color: var(--secondary-color);
    color: var(--tertiary-text-color);
    padding: 5px;
    box-shadow: 3px 1px 0px 0px #999;
    cursor: pointer;
    outline: none;
    border: none;

}

.nav a:hover,
.nav i:hover {
    color: white;
}

.profile-image-link:hover img {
    box-shadow: 0 0 3px #fff;
}


/* CSS */
.button-42 {
    background-color: var(--secondary-color);
    font-size: medium;
    font-weight: bold;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
    color: #edededf3;
    cursor: pointer;
    display: inline-block;
    font-family: Inter, -apple-system, system-ui, Roboto, "Helvetica Neue", Arial, sans-serif;
    padding: 4px 10px;
    outline: 0;
    overflow: hidden;
    pointer-events: auto;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: top;
    white-space: nowrap;
    width: 12%;
    z-index: 9;
    border: 0;
    transition: box-shadow .2s;
}

.button-42:hover {
    box-shadow: rgba(175, 12, 12, 0.629) 0 3px 8px;
    color: white;
}

.nav-search {
    text-decoration: none;
}



/* -----------------END OF NAV-------------------- */

/* -----------------END OF HEADER------------------------------------------- */


/* -----------------START OF MAIN CONTENT------------------------------------------- */

.body-container {
    max-width: 75%;
    margin: 0 auto;
}

.main-division {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap:1%;
}

.main-container{

    width: 100%;
    height: 12vh;
    background-color: #2c3440;
    display: flex;
    align-items: center;
    margin-bottom: 3%;
}

.inside-container {
    display: flex;
    flex-direction: row;
    max-width: 85%;
    width:100%;
    margin: 0 auto;
    /* gap: 10%; */
}

.members-left-contaier{
    display:flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
    gap: 1.5%;
}

.members-left-contaier img{
    height: 60px;
    border-radius: 50%;
}

.members-left-contaier a{
    color: var(--tertiary-text-color);
    text-decoration-color: var(--tertiary-text-color);
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
}

.members-left-contaier a:hover{
    color: var(--primary-text-color);
}

.members-right-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20%;
}

.members-right-container button{
    background: none;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit;
        color: var(--tertiary-text-color);
}

.members-right-container i{
    font-size: 300%;
}

.members-right-container div{
    color: var(--dividing-color);
    display:flex;
    align-items: center;
    gap: 10%;
}

.members-right-container div span{
    font-size: 150%;

}


/* -----------------END OF MAIN CONTENT------------------------------------------- */