:root {
    --primary-color: #14181c;
    --secondary-color: rgba(175, 12, 12, 0.629);
    --tertiary-color: #464a4e;


    --dividing-color: #c8d1dc76;

    --primary-text-color: #EDEDED;
    --secondary-text-color: rgba(255, 255, 255, 0.837);
    --tertiary-text-color: #c8d1dcbf;

    --primary-border-color: rgba(255, 255, 255, 0.341);
}


* {
    font-family: 'Roboto', sans-serif;
}


body {
    background-color: var(--primary-color);
    margin: 0 auto;
    min-height: calc(100vh - (6rem + 4rem));
}

.dividing-messages {
    font-size: small;
    color: var(--dividing-color);
    margin-top: 4%;
}

hr {
    background-color: var(--dividing-color);
    border: 0 none;
    color: var(--dividing-color);
    height: 1px;
}




/* -----------------START OF HEADER------------------------------------------- */

.header {
    background-color: rgba(0, 0, 0, 0.286);
    box-shadow: -1px 42px 300px 40px rgba(208, 209, 217, 0.03);
    height: 12vh;
    /* justify-content: center; */
    margin-bottom: 5%;
}

.header-container {
    max-width: 75%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    -ms-flex-align: center;
    align-items: center;
}

.header-image-link {
    display: flex;
    gap: 5px;
    width: 40%;
    text-decoration: none;
    /* justify-content: center; */
    align-items: center;
}

.header-image-link span {
    color: var(--primary-text-color);
}

.header-image-link img {
    height: 45px;
}

/* -----------------START OF NAV-------------------- */
.nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5vw;
    width: 80%;
    font-size: 90%;
}

.nav a {
    text-decoration: none;
    width: max-content;
    color: var(--primary-text-color);
}

.nav div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.nav div ul {
    position: absolute;
    top: calc(47%);
    width: 77%;
    border-radius: 10px;
    background-color: #2c3440;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    list-style-type: none;
}

.nav div ul a {
    color: var(--secondary-text-color)
}

.nav ul li::before {
    content: "\2022";
    color: var(--dividing-color);
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}


.nav input {
    opacity: 0.5;
    border: none;
    box-shadow: none;
    outline: none;
    text-indent: 5%;
    height: 4vh;
    border-radius: 10px;
}

.nav input:focus {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.nav input:hover {
    opacity: 0.8;
}

.nav input:focus {
    opacity: 1;
}

#header-icon-button {
    background: none;
    color: var(--tertiary-text-color);
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.nav a:hover {
    color: white;
}


/* -----------------END OF NAV-------------------- */

/* -----------------END OF HEADER----------------------------------------- */

/*-----------START OF SIGN UP POPUP----------------*/
.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.popup-content {
    background-color: #2c3440;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.647);
    position: absolute;
    width: 35%;
    height: fit-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.popup-content-container {
    max-width: 75%;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    gap: 6vh;

}

.main-message {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--tertiary-text-color);
}

.main-message span {
    flex-grow: 1;
    font-size: medium;
    letter-spacing: 0.10rem;
}

.new-close-button {
    border: none;
    background-color: initial;
    color: initial;
    cursor: pointer;
}

.main-message i {
    color: var(--tertiary-text-color);
    font-size: x-large;
    text-align: center;
}

.close-btn {
    margin-top: 10px;
}

.new-form {
    display: flex;
    flex-direction: column;
    gap: 0.8vh;
    /* flex-wrap: wrap; */
}

.new-form label {
    color: var(--primary-text-color)
}

.new-form input[type="text"],
.new-form input[type="password"],
.new-form input[type="email"] {
    height: 25px;
    border: none;
    outline: none;
    text-indent: 1%;
    background-color: var(--tertiary-text-color);
    border-radius: 3px;
}

.new-form input[type="text"]:focus,
.new-form input[type="password"]:focus,
.new-form input[type="email"]:focus {
    background-color: var(--primary-text-color);
}

.new-form input[type="submit"] {
    margin-top: 6%;
    width: fit-content;
    background-color: var(--secondary-color);
    font-size: medium;
    font-weight: bold;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
    color: #edededf3;
    cursor: pointer;
    display: inline-block;
    font-family: Inter, -apple-system, system-ui, Roboto, "Helvetica Neue", Arial, sans-serif;
    padding: 4px 10px;
    outline: 0;
    overflow: hidden;
    pointer-events: auto;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: top;
    white-space: nowrap;
    z-index: 9;
    border: 0;
    transition: box-shadow .2s;
}

.new-form input[type="submit"]:hover {
    box-shadow: rgba(175, 12, 12, 0.629) 0 3px 8px;
    color: white;
}

.form-gap {
    padding: 2%;
}


/*-----------END OF SIGN UP POPUP----------------*/



/*-----------START OF LOG IN POPUP----------------*/
.log-window {

    background-color: #2c3440;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.647);
    position: absolute;
    width: max-content;
    height: fit-content;
    top: 1%;
    left: 61%;
    transform: translate(-50%, -50%);
    z-index: 1000;


}

.log-popup-content-container {
    /* background-color: red; */
    max-width: 98%;
    margin-top: 10%;
    margin-bottom: 4%;
    margin-right: 0%;
    padding-top: 10%;
    display: flex;
    flex-direction: row;
    gap: 3vh;
}

.log-close-button {
    border: none;
    background-color: initial;
    color: initial;
    cursor: pointer;
}

.log-close-button i {
    color: var(--tertiary-text-color);
    font-size: 130%;
}


.log-form {
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    /* gap: 1vh; */
}


.log-form label {
    color: var(--secondary-text-color)
}

.log-form input[type="text"],
.log-form input[type="password"] {
    width: 92%;
    height: 25px;
    border: none;
    outline: none;
    text-indent: 1%;
    background-color: var(--tertiary-text-color);
    border-radius: 3px;
}

.log-form input[type="text"]:focus,
.log-form input[type="password"]:focus {
    background-color: var(--primary-text-color);
}

.log-form-part {
    display: flex;
    flex-direction: column;
}

.log-form input[type="submit"] {
    margin-top: 4.4%;
    width: fit-content;
    background-color: var(--secondary-color);
    font-size: medium;
    font-weight: bold;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
    color: #edededf3;
    cursor: pointer;
    display: inline-block;
    font-family: Inter, -apple-system, system-ui, Roboto, "Helvetica Neue", Arial, sans-serif;
    padding: 4px 10px;
    outline: 0;
    overflow: hidden;
    pointer-events: auto;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: top;
    white-space: nowrap;
    z-index: 9;
    border: 0;
    transition: box-shadow .2s;
}

.log-form input[type="submit"]:hover {
    box-shadow: rgba(175, 12, 12, 0.629) 0 3px 8px;
    color: white;
}

/*-----------END OF LOG IN POPUP----------------*/


/*-----------START OF HELPER CLASSES------------*/
.hidden {
    display: none;
}

.error-message {
    color: var(--dividing-color);
}

/*-----------END OF HELPER CLASSES------------*/

/*------------------END OF BODY-------------------------------------------*/

@media screen and (max-width: 1263px) {
    html {
        width: 1263px;
    }
}