:root {
    --primary-color: #14181c;
    --secondary-color: rgba(175, 12, 12, 0.629);
    --tertiary-color: #464a4e;


    --dividing-color: #c8d1dc76;

    --primary-text-color: #EDEDED;
    --secondary-text-color: rgba(255, 255, 255, 0.837);
    --tertiary-text-color: #c8d1dcbf;

    --primary-border-color: rgba(255, 255, 255, 0.341);
}


* {
    font-family: 'Roboto', sans-serif;
}


body {
    background-color: var(--primary-color);
    margin: 0 auto;
    min-height: calc(100vh - (6rem + 4rem));
}

.dividing-messages {
    font-size: small;
    color: var(--dividing-color);
    margin-top: 4%;
}

hr {
    background-color: var(--dividing-color);
    border: 0 none;
    color: var(--dividing-color);
    height: 1px;
}




/* -----------------START OF HEADER------------------------------------------- */

.header {
    background-color: rgba(0, 0, 0, 0.286);
    box-shadow: -1px 42px 300px 40px rgba(208, 209, 217, 0.03);
    height: 12vh;
    /* justify-content: center; */
    margin-bottom: 5%;
}

.header-container{
    max-width: 75%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    -ms-flex-align: center;
    align-items: center;
}

.header-image-link {
    display: flex;
    gap: 5px;
    width: 40%;
    text-decoration: none;
    /* justify-content: center; */
    align-items: center;
}

.header-image-link span {
    color: var(--primary-text-color);
}

.header-image-link img {
    height: 45px;
}

/* -----------------START OF NAV-------------------- */
.nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    /* margin-right: 10%; */
    gap: 20px;
    width: 80%;
}

.nav a {
    text-decoration: none;
    color: var(--tertiary-text-color)
}

.profile-image-link {
    display: flex;
    text-decoration: none;
    gap: 5px;
    justify-content: center;
    align-items: center;

}


.profile-image-link img {
    height: 25px;
    border-radius: 50%;
}

#header-icon-button {
    background: none;
    color: var(--tertiary-text-color);
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.header-log-button {

    background-color: var(--secondary-color);
    color: var(--tertiary-text-color);
    padding: 5px;
    box-shadow: 3px 1px 0px 0px #999;
    cursor: pointer;
    outline: none;
    border: none;

}

.nav a:hover,
i:hover {
    color: white;
}

.profile-image-link:hover img {
    box-shadow: 0 0 3px #fff;
}


/* CSS */
.button-42 {
    background-color: var(--secondary-color);
    font-size: medium;
    font-weight: bold;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
    color: #edededf3;
    cursor: pointer;
    display: inline-block;
    font-family: Inter, -apple-system, system-ui, Roboto, "Helvetica Neue", Arial, sans-serif;
    padding: 4px 10px;
    outline: 0;
    overflow: hidden;
    pointer-events: auto;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: top;
    white-space: nowrap;
    width: 12%;
    z-index: 9;
    border: 0;
    transition: box-shadow .2s;
}

.button-42:hover {
    box-shadow: rgba(175, 12, 12, 0.629) 0 3px 8px;
    color: white;
}

.nav-search {
    text-decoration: none;
}



/* -----------------END OF NAV-------------------- */

/* -----------------END OF HEADER------------------------------------------- */




/* -----------------START OF MAIN CONTENT------------------------------------------- */
.body-container {
    max-width: 75%;
    margin: 0 auto;
}


/* -----------------START OF BODY HEADER-------------------- */
.vertical-line{
    border-left: 1px solid var(--dividing-color);
    height: 7vh;
    width: 0px;
    background-color: var(--dividing-color);
        
}


.body-header-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 15vh;
}

.body-image-text-container{
    display:flex;
    height:15vh;
    margin-right: auto;
    gap: 6%;
}

.body-image-text-container img{
    border-radius: 50%;
    height: 15vh;
}

.name-button-container{
    display:flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.name-button-container span{
    font-size: x-large;
    color: var(--primary-text-color);
}

.name-button-container button{
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
    font-size: 80%;
    margin-top: 10%;
    color: var(--secondary-text-color);
    background-color: var(--dividing-color);
    outline: 0;
    border-radius: 4px;
    border: 0;
    width: 8vw;
}

.body-information-container{
    display: flex;
    height: min-content;
    width:max-content;
    gap: 1vh;
}

.body-information{
    display: flex;
    flex-direction: column;
    gap: 10%;
}

.body-information div{
    text-align: center;
    color: var(--primary-text-color);
    font-size: x-large;
}

.body-information span{
    color: var(--tertiary-text-color);
    /* color: red; */
    font-size: 80%;
    text-align: center;
    justify-self: center;
    width:max-content;
}

/* -----------------END OF BODY HEADER-------------------- */


/* -----------------START OF OPTIONS LIST-------------------- */

.body-options-container{
    /* background-color: red; */
    margin-top: 10vh;
    height: 7vh;
    border: 1px solid var(--dividing-color);
    border-radius: 4px;
    display: flex;
    width:100%;
    justify-content:center;

}

.body-options-container a{
    margin: auto;
    text-decoration: none;
    color: var(--tertiary-text-color);
}  

.body-options-container a:hover{
    color: var(--primary-text-color);
}

/* -----------------END OF OPTIONS LIST-------------------- */

.body-main-content{
    /* background-color: red; */
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
    gap: 4%;
    justify-content: center;
    /* align-items: center; */
    /* width: 100%; */
}

.body-main-content-left{
    /* background-color: red; */
    width: 65%;
    display: flex;
    flex-direction: column;

}


.no-activity-text{
    color: var(--tertiary-text-color);
}

.no-activity-text a{
    text-decoration: none;
    color: var(--secondary-text-color);
}

.no-activity-text a:hover{
    color: var(--primary-text-color);
    text-decoration-line: underline;
}

.body-main-content-right{
    /* background-color: blue; */

        display: flex;
        flex-direction: column;
        width: 45%;
        height: 80%;
        gap: 2%;
}

.body-main-content-right .albums-container{
    width: 100%; 
}

.body-main-content-right .albums-container a{
    height: 60%;
}

/* -----------------END OF MAIN CONTENT------------------------------------------- */

@media screen and (max-width: 1263px) {
    html {
        width: 1263px;
    }
}

.albums-container {
    display: flex;
    flex-direction: row;
    gap: 2%;
    height: 30vh;
    width: 100%;
    /* width:100%; */
    /* width: 20vw; */
    /* background-color: red; */
    /* color:white; */

}

.logged-albums-container{
    display:flex;
    flex-direction: row;
    gap: 2%;
    height: 30vh;
    width: 100%;
}
.logged-album-img-rating{
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 90%;
    /* background-color: red; */
}

.logged-album-img-rating a{
    text-decoration: none;
        color: var(--primary-text-color);
        display: inline-block;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 8px;
        box-shadow: inset rgba(255, 255, 255, 0.341) 0px 1px 1px, inset rgba(255, 255, 255, 0.341) 0px 0px 0px 1px;
        background-color: #2c3440;
}

.logged-album-img-rating a:hover {
    box-shadow: 0px 0px 0px 0.8px rgb(255, 255, 255);
}

.albums-container a {
    text-decoration: none;
    color: var(--primary-text-color);
    display: inline-block;
    width: 25%;
    height: 80%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 8px;
    box-shadow: inset rgba(255, 255, 255, 0.341) 0px 1px 1px, inset rgba(255, 255, 255, 0.341) 0px 0px 0px 1px;
    background-color: #2c3440;
}

.albums-container a:hover {
    box-shadow: 0px 0px 0px 0.8px rgb(255, 255, 255);
}



.albums-container>a>div {
    padding: 30%;
    background-color: red;
}

.rating-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    /* height: 10vh; */
    gap: 5px;
}


.rating-bar {
    width: 100%;
    height: 12vh;
    position: relative;
    overflow: hidden;
}



.rating-bar-fill {
    height: 0;
    background-color: var(--tertiary-text-color);
    position: absolute;
    bottom: 0;
    width: 100%;
}



.rating-stats {
    margin-top: 8%;
    color: var(--tertiary-text-color);
}

.rating-stats span {
    color: var(--secondary-text-color);
}